<h1>Tweets#index</h1>

<% if student_signed_in? %>
  <%= link_to current_student.nickname, student_path(current_student.id) %>
<% elsif teacher_signed_in? %>
  <%= link_to current_teacher.nickname, teacher_path(current_teacher.id) %>
<% end %>

<%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<p><%= link_to "動画で勉強！", posts_path %></p>

<% if student_signed_in? %>
  <p><%= link_to "学生ログアウト", destroy_student_session_path, method: :delete, class: "logout" %></p>
<% elsif teacher_signed_in? %>
  <p><%= link_to "講師ログアウト", destroy_teacher_session_path, method: :delete, class: "logout" %></p>
<% else %>
  <p>こんにちは ゲストさん</p>
<% end %>
<%= link_to "つぶやく", new_tweet_path %>

<% @tweets.each do |tweet| %>
  <%= link_to tweet_path(tweet.id) do %>
    <div class="tweet">
    <%= l tweet.created_at %>
    <%= tweet.text %>
    </div>
  <% end %>
<% end %>