<h1>Posts#index</h1>

<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<p><%= link_to "つぶやく", tweets_path %></p>

<% if teacher_signed_in? %>
  <p><%= link_to "授業投稿", new_post_path %></p>
<% end %>

<% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
    <div class="post">
      <b><p><%= post.title %></p></b>
      <p><%= post.text %></p>
      <p><%= l post.created_at %></p>
      <%= video_tag(post.movie, size: "500x300", autoplay: true, muted: true)%>
    </div>
  <% end %>
<% end %>
